.form_td { 
	margin: 10px auto;
	border-width: solid;
	border:  2px solid rgb(67,117,162);
	background-color: rgb(91,155,213);
	padding: 7px 7px 7px 7px;
	color: rgb(255,255,255);
	text-align: center;
  	font-family: "Times New Roman", Times, serif;
}
.register-form {
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid rgb(91,155,213);

}
.title {
    display: flex;
    margin-bottom: 10px;
}




.form_submit{
	margin: 10px auto;
	background-color: rgb(91, 155, 213); 
	border-style:solid; 
	padding: 10px 25px 10px 25px;	
	border-color: rgb(83,126,166);
	border-radius: 5px;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	color: rgb(255,255,255);

}
.form {
	width: 100%;
		height: 100%;
		max-width: 500px;
		margin: 10px auto;
		padding: 10px;
 
}


.form_center{
	margin: 10px auto;
	border-color: rgb(85,128,166);
	height: 100%;
	width: 100%; 
	display: flex; 
	align-items: center; 
	justify-content: center;
}

.input-file {
    margin-left: 50px;
    right: 100px;
    line-height: 25px;
  }
.login-content {
    margin: 0 auto;
    width: 500px;
    height: 550px;
    margin-top: 100px;
    border: 2px solid #0093c4;
  }
  .field__input {
	font-size: 14px;
	font-weight: 400;
	padding: 8px;
	border-radius: 0;
	border: 1px solid #3f6db9;
	width: 250px;
}

.table_form{
		width: 100%;
		height: 100%;
		max-width: 500px;
		margin: 10px auto;
		padding: 10px;
		border: 1px solid rgb(65,113,156);
	
}

.gender {
	display: flex;
	width: 55%;
	gap: 20px;
}

.radio_label{
	padding: 0px 20px 0px 0px;
	background-color: rgb(91, 155, 213); 
	border-style:solid; 
	border-color: rgb(83,126,166);
	border-radius: 5px;
	font-family: "Times New Roman", Times, serif;
	color:rgb(83,126,166);
}
.input-item {
    width: 250px;
    margin-left: 50px;
    right: 100px;
  }

.selectbox_color{
	background: #456BD9;
	border-color: 1px solid rgb(81,125,164);
	padding:  7px 0px 7px 0px;
	font-family: "Times New Roman", Times, serif;
	font-size:15px;
	text-align: left;
}
 
  